@import url('common.css');

main{
    width:90%;
    margin:0 auto;
    overflow: hidden;
    background-blend-mode:multiply;
    .leftme{
        -webkit-filter: grayscale(100%);
        filter: gray;
        
        float: left;
        width:49%;
        
        h1{
            label {
              margin: -15px;
              display: inline-block;
              opacity: 0;
              font-family: 'Anton', sans-serif;
            }
            padding-left:2%;
            width:100%;
            text-align: left;
            font-family: 'Anton', sans-serif;
            font-size:8.6em;            
            padding-top:2%;
            
            @keyframes labelAni{
                0%{
                    opacity: 0;
                    transform: trnaslateX(100%);
                }
                100%{
                    opacity: 1;
                    transform: trnaslateX(0%);
                }
            }
        }
        .leftmain{
            width:100%;
            display:inline-block;
            overflow: hidden;
            
            .leftleft{
                width:49%;
                float: left;
                img{
                    width:100%;
                    -webkit-filter: grayscale(100%);
                    filter: gray;
                }
                img:hover{
                    -webkit-filter: grayscale(0%);
                    filter: none;
                }

                animation: pageAni1 .8s .2s forwards ease-in-out;
                opacity: 0;
                @keyframes pageAni1 {
                    0%{
                        opacity: 0;
                        transform: translateX(-50%);
                    }
                    50%{opacity: 0.5;}
                    100%{
                        opacity: 1;
                        transform: translateX(0%);
                    }
                }
            }
            .leftright{
                width:40%;
                float: right;
                padding-right:8%;
                .name{
                    font-family: 'Anton', sans-serif;                    
                    font-size:6.5em;
                    color: #598488;
                    margin-top:-10%;

                    animation: pageAni2 .8s .8s forwards ease-in-out;
                    opacity: 0;
                    @keyframes pageAni2{
                        0%{
                            opacity: 0;
                            transform: translateX(50%);
                        }
                        50%{opacity: 0.5;}
                        100%{
                            opacity: 1;
                            transform: translateX(0%);
                        }
                }
                }
                .nameetc{                    
                    margin-top:-12%;
                    background-blend-mode:multiply;
                    span{
                        font-family: 'Anton', sans-serif;
                        font-size:4.8em;                        
                    }
                    p{
                        font-family: 'Archivo Narrow', sans-serif;
                        font-size:1.5em;
                        text-align:right;
                        white-space: pre-line;
                        margin-top:-20%;
                        line-height:1;
                    }

                    animation: pageAni2 .8s .8s forwards ease-in-out;
                    opacity: 0;
                    @keyframes pageAni2{
                        0%{
                            opacity: 0;
                            transform: translateX(50%);
                        }
                        50%{opacity: 0.5;}
                        100%{
                            opacity: 1;
                            transform: translateX(0%);
                        }
                     }
                }
                .story{
                    font-family: 'Nanum Gothic', sans-serif;
                    font-size:1em;
                    line-height: 2;
                    white-space: pre-line;
                    margin-top:-2%;
                    span{
                        color:#598488; 
                    }

                    animation: pageAni3 1s .4s forwards ease-in-out;
                    opacity: 0;
                    @keyframes pageAni3{
                        0%{
                            opacity: 0;
                            transform: translateY(-50%);
                        }
                        50%{opacity: 0.5;}
                        100%{
                            opacity: 1;
                            transform: translateY(0%);
                        }
                    }
                }
                
            }
            
        }        
    }
    .rightme{
        -webkit-filter: grayscale(100%);
        filter: gray;
        float: right;
        width:46%;
        .pentagon{
            width:100%;
            height:450px;
            padding:2% 0 5% 0;
            display:inline-block;
            canvas{
                margin:0 auto;
                display:block;
                width:80%; height:130%;
                padding-right:3%;
            }

            animation: pageAni4 1s .4s forwards ease-in-out;
            opacity: 0;
            @keyframes pageAni4{
                0%{
                    opacity: 0;
                    transform: scale(0);
                }
                50%{opacity: 0.5;}
                100%{
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
        h1{
            width:100%;
            text-align: left;
            font-family: 'Anton', sans-serif;
            font-size:5.5em; 
            label {
                font-family: 'Anton', sans-serif;
                margin: -10px;
                display: inline-block;
                opacity: 0;
              }

            @keyframes labelAni2{
                0%{
                    opacity: 0;
                    transform: translateY(20%);
                }
                50%{opacity: 0.5;}
                100%{
                    opacity: 1;
                    transform: translateY(0%);
                }
            }
        }
        p{
            margin-top:-5%;
            font-family: 'Nanum Gothic', sans-serif;
            font-size:1em;
            line-height:1.8;
            white-space: pre-line;

            animation: pageAni6 .8s 1.2s forwards ease-in-out;
            opacity: 0;
            @keyframes pageAni6{
                0%{
                    opacity: 0;
                    transform: translateY(-50%);
                }
                50%{opacity: 0.5;}
                100%{
                    opacity: 1;
                    transform: translateY(0%);
                }
            }
        }
        
    }
    .on{        
        -webkit-filter: grayscale(0%);
        filter: none;
    }
}

@media (min-width:865px) and (max-width:1100px){
    main{
        width:100%;
        .leftme{
            width:100%;
            h1{
                display:block;
                width:100%;
                label{font-size:.8em;}
                label:nth-of-type(1){margin-left:0; }
            }
            .leftmain{
                display:block;
                width:95%; margin:0 auto;
                .leftleft{
                    width:45%;
                    img{width:100%;}
                }
            }
            
        }
        .rightme{
            width:95%;
            margin:0 auto;
            .pentagon{
                width: 60%;
                float:right;
            }
            h1{
                padding-top:15%;
            }
            p{
                padding-top:3%;
            }
        }
    }
}
@media all and (max-width:864px){
    main{
        width:100%; height: 100%;
        .leftme{
            float:none;
            width:100%;
            display:block;
            margin:0 auto;
            h1{
                display:block;
                label{font-size:46px;}
                label:nth-of-type(1){margin-left:0;}
            }
            .leftmain{
                float:none;
                .leftleft{
                    float:none;
                    width:100%; margin:0 auto;
                }
                .leftright{
                    width:100%;
                    margin:0 auto;
                    float:none;
                    .name{font-size:5em; margin-top:-2%;}
                    .nameetc{
                        width:100%; margin-top:-6%;
                        span{font-size:3em;}
                        p{
                            width:100%; margin:0 auto;
                            font-size:1.5em;
                            margin-top:-10%;
                            text-align: right;
                        }
                    }
                    .story{
                        width:95%; margin:0 auto;
                    }
                }
            }
            .rightme{
                float:none;
            }
        }
        .rightme{
            width:100%; margin:0 auto;
            .pentagon{
                width:100%; margin:0 auto;
            }
            h1{
                display:block;
                margin-top:-10%;
                label{font-size:46px;}
                label:nth-of-type(1){margin-left:0;}
            }
            p{width:95%; margin:0 auto;}
        }
    }
}