@import url("common.css");
main {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  background-blend-mode: multiply;
}

main .leftme {
  -webkit-filter: grayscale(100%);
  filter: gray;
  float: left;
  width: 49%;
}

main .leftme h1 {
  padding-left: 2%;
  width: 100%;
  text-align: left;
  font-family: 'Anton', sans-serif;
  font-size: 8.6em;
  padding-top: 2%;
}

main .leftme h1 label {
  margin: -15px;
  display: inline-block;
  opacity: 0;
  font-family: 'Anton', sans-serif;
}

@-webkit-keyframes labelAni {
  0% {
    opacity: 0;
    -webkit-transform: trnaslateX(100%);
            transform: trnaslateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: trnaslateX(0%);
            transform: trnaslateX(0%);
  }
}

@keyframes labelAni {
  0% {
    opacity: 0;
    -webkit-transform: trnaslateX(100%);
            transform: trnaslateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: trnaslateX(0%);
            transform: trnaslateX(0%);
  }
}

main .leftme .leftmain {
  width: 100%;
  display: inline-block;
  overflow: hidden;
}

main .leftme .leftmain .leftleft {
  width: 49%;
  float: left;
  -webkit-animation: pageAni1 .8s .2s forwards ease-in-out;
          animation: pageAni1 .8s .2s forwards ease-in-out;
  opacity: 0;
}

main .leftme .leftmain .leftleft img {
  width: 100%;
  -webkit-filter: grayscale(100%);
  filter: gray;
}

main .leftme .leftmain .leftleft img:hover {
  -webkit-filter: grayscale(0%);
  filter: none;
}

@-webkit-keyframes pageAni1 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes pageAni1 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

main .leftme .leftmain .leftright {
  width: 40%;
  float: right;
  padding-right: 8%;
}

main .leftme .leftmain .leftright .name {
  font-family: 'Anton', sans-serif;
  font-size: 6.5em;
  color: #598488;
  margin-top: -10%;
  -webkit-animation: pageAni2 .8s .8s forwards ease-in-out;
          animation: pageAni2 .8s .8s forwards ease-in-out;
  opacity: 0;
}

@-webkit-keyframes pageAni2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes pageAni2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

main .leftme .leftmain .leftright .nameetc {
  margin-top: -12%;
  background-blend-mode: multiply;
  -webkit-animation: pageAni2 .8s .8s forwards ease-in-out;
          animation: pageAni2 .8s .8s forwards ease-in-out;
  opacity: 0;
}

main .leftme .leftmain .leftright .nameetc span {
  font-family: 'Anton', sans-serif;
  font-size: 4.8em;
}

main .leftme .leftmain .leftright .nameetc p {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 1.5em;
  text-align: right;
  white-space: pre-line;
  margin-top: -20%;
  line-height: 1;
}

@keyframes pageAni2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

main .leftme .leftmain .leftright .story {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 1em;
  line-height: 2;
  white-space: pre-line;
  margin-top: -2%;
  -webkit-animation: pageAni3 1s .4s forwards ease-in-out;
          animation: pageAni3 1s .4s forwards ease-in-out;
  opacity: 0;
}

main .leftme .leftmain .leftright .story span {
  color: #598488;
}

@-webkit-keyframes pageAni3 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes pageAni3 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

main .rightme {
  -webkit-filter: grayscale(100%);
  filter: gray;
  float: right;
  width: 46%;
}

main .rightme .pentagon {
  width: 100%;
  height: 450px;
  padding: 2% 0 5% 0;
  display: inline-block;
  -webkit-animation: pageAni4 1s .4s forwards ease-in-out;
          animation: pageAni4 1s .4s forwards ease-in-out;
  opacity: 0;
}

main .rightme .pentagon canvas {
  margin: 0 auto;
  display: block;
  width: 80%;
  height: 130%;
  padding-right: 3%;
}

@-webkit-keyframes pageAni4 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pageAni4 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

main .rightme h1 {
  width: 100%;
  text-align: left;
  font-family: 'Anton', sans-serif;
  font-size: 5.5em;
}

main .rightme h1 label {
  font-family: 'Anton', sans-serif;
  margin: -10px;
  display: inline-block;
  opacity: 0;
}

@-webkit-keyframes labelAni2 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes labelAni2 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

main .rightme p {
  margin-top: -5%;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 1em;
  line-height: 1.8;
  white-space: pre-line;
  -webkit-animation: pageAni6 .8s 1.2s forwards ease-in-out;
          animation: pageAni6 .8s 1.2s forwards ease-in-out;
  opacity: 0;
}

@-webkit-keyframes pageAni6 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes pageAni6 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

main .on {
  -webkit-filter: grayscale(0%);
  filter: none;
}
/*# sourceMappingURL=about.css.map */