@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Narrow:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Nanum+Gothic:wght@400;800&family=Noto+Serif+JP:wght@200;400;700;900&family=Teko:wght@300;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;900&display=swap');
// font-family: 'Archivo Narrow', sans-serif;
// font-family: 'Nanum Gothic', sans-serif;
// font-family: 'Teko', sans-serif;
// font-family: 'Noto Sans JP', sans-serif;
// font-family: 'Anton', sans-serif;

*{
    color:#2e2e2e;
}
html,body{
    width:100%;
    margin:0; padding:0;
    cursor: none;
}
body{
    overflow-x:hidden;
    background:url('../img/background.jpg');
    
}
::-webkit-scrollbar{
    width:0px;
}
div,article,ul,li,span,p,a,b,h1,h2,h3,h4,h5,h6{
    margin:0; padding:0;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
.cursor{
    width: 3rem;
    height: 3rem;
    border: 2px solid #b63727;
    border-radius: 50%;
    position: fixed;
    z-index: 1000;
    transform: translate(-50%, -50%);
    pointer-events:none;
    transition: all 0.3s ease;
    transition-property: background, transform;
    transform-origin: 100% 100%;
    backdrop-filter: sepia(10%);
    background-size: cover;
}

  .imghover{
    transform: scale(1.4);
    border:1px solid #b63727;
    background:#b63727;
    color:  #eee !important;
  }
  
  .hovered{
    color:  #eee !important;    
}
  .link{
  transform: scale(2);
    background: #b63727;
     color: #eee !important;
}
main{    
    @keyframes pageChange{
        from { opacity: 1;
            transform:translate(0,0);
        }
        to{
            opacity: 0;
            transform:translate(-100%,0);
        }
    }
}


header{
    width:90%;
    display:block;
    margin:0 auto;
    .menu{
        width:100%;
        display:flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        nav{
            width:45%;
            border-top:1px solid#2e2e2e;
            border-bottom:1px solid#2e2e2e;
            padding:1% 0;
            margin-top:3%;
            a{
                padding-left: 5%;
                font-family: 'Archivo Narrow', sans-serif;
                text-align: left;
                font-size:1.2em;
            }
            a:nth-of-type(1){padding-left: 1%;}
            .on{color:#b63727; font-weight: bold;}
        }
        
        .mainlogo{
            width:20%;
            position:absolute;
            left:50%; top:0;
            transform: translate(-16%,0);
            img{
                width:30%;                
                position: absolute;
                left:0; top:0;
            }
            #gif{
            opacity: 0;

            }
        }
        .nowTime{
            width:45%;
            border-top:1px solid#2e2e2e;
            border-bottom:1px solid#2e2e2e;
            padding:1% 0;
            margin-top:3%;
            font-family: 'Archivo Narrow', sans-serif;
            text-align: right;
            padding-right: 1%;
            font-size:1.2em;
        }
    }
}