@import url("common.css");
main {
  width: 100%;
  height: 100%;
  display: block;
}

main .mainopen {
  width: 100%;
  position: relative;
}

main .mainopen span {
  font-family: 'Teko', sans-serif;
  color: #598488;
}

main .mainopen .first {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, 48%);
          transform: translate(-50%, 48%);
  -webkit-animation: close .8s 2.8s linear forwards;
          animation: close .8s 2.8s linear forwards;
}

main .mainopen .first .up {
  width: 100%;
  text-align: right;
}

main .mainopen .first .up .up1 {
  width: 100%;
  opacity: 0;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-animation: open4 .3s 1.5s linear forwards;
          animation: open4 .3s 1.5s linear forwards;
}

@-webkit-keyframes open4 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(90px);
            transform: translateY(90px);
  }
}

@keyframes open4 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(90px);
            transform: translateY(90px);
  }
}

main .mainopen .first .up .up1 .kr {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bold;
  font-size: 2em;
}

main .mainopen .first .up .up2 {
  opacity: 0;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-animation: open3 .3s 1.3s linear forwards;
          animation: open3 .3s 1.3s linear forwards;
}

@-webkit-keyframes open3 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
  }
}

@keyframes open3 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
  }
}

main .mainopen .first .up .up2 .jpkt {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  font-size: 2em;
}

main .mainopen .first .up .up2 .jpkt span {
  font-family: 'Noto Sans JP', sans-serif;
}

main .mainopen .first .up .up3 {
  opacity: 0;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-animation: open2 .3s 1s linear forwards;
          animation: open2 .3s 1s linear forwards;
}

@-webkit-keyframes open2 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}

@keyframes open2 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}

main .mainopen .first .up .up3 .jphg {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  font-size: 4em;
}

main .mainopen .first .up .up3 .jphg span {
  font-family: 'Noto Sans JP', sans-serif;
}

main .mainopen .first .mainfont {
  opacity: 0;
  -webkit-animation: open1 .8s linear forwards;
          animation: open1 .8s linear forwards;
}

@-webkit-keyframes open1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes open1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

main .mainopen .first .mainfont p {
  font-family: 'Teko', sans-serif;
  font-weight: bold;
  font-size: 8em;
}

main .mainopen .first .down {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bold;
  font-size: 2.2em;
  line-height: 1.2;
}

main .mainopen .first .down .down1 {
  opacity: 0;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation: open5 .3s 1.4s linear forwards;
          animation: open5 .3s 1.4s linear forwards;
}

@-webkit-keyframes open5 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

@keyframes open5 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

main .mainopen .first .down .down2 {
  opacity: 0;
  -webkit-animation: open6 .3s 1.6s linear forwards;
          animation: open6 .3s 1.6s linear forwards;
}

@-webkit-keyframes open6 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

@keyframes open6 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

@-webkit-keyframes close {
  100% {
    opacity: 0;
  }
}

@keyframes close {
  100% {
    opacity: 0;
  }
}

main .mainopen .second {
  position: relative;
}

main .mainopen .second .logo {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform-origin: -10% 50%;
          transform-origin: -10% 50%;
  opacity: 0;
  -webkit-animation: open8 .3s 4.4s linear forwards;
          animation: open8 .3s 4.4s linear forwards;
}

@-webkit-keyframes open8 {
  0% {
    opacity: .7;
  }
  35% {
    opacity: .9;
  }
  75% {
    opacity: .2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes open8 {
  0% {
    opacity: .7;
  }
  35% {
    opacity: .9;
  }
  75% {
    opacity: .2;
  }
  100% {
    opacity: 1;
  }
}

main .mainopen .second .logo img {
  -webkit-transform: translate(-50%, 70%);
          transform: translate(-50%, 70%);
  -webkit-transition: .7s;
  transition: .7s;
}

main .mainopen .second .mainfont2 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, 226%);
          transform: translate(-50%, 226%);
  -webkit-animation: open7 .5s 3.6s linear forwards;
          animation: open7 .5s 3.6s linear forwards;
}

@-webkit-keyframes open7 {
  100% {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, 270%);
            transform: translate(-50%, 270%);
  }
}

@keyframes open7 {
  100% {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, 270%);
            transform: translate(-50%, 270%);
  }
}

main .mainopen .second .mainfont2 p {
  font-family: 'Teko', sans-serif;
  font-weight: bold;
  font-size: 8em;
}

aside {
  opacity: 0;
  font-size: 0;
  display: block;
  text-align: center;
  border-radius: 80%;
  border: 1px solid #fff;
  background: #2e2e2e;
  -webkit-animation: jump .7s 5s linear infinite;
          animation: jump .7s 5s linear infinite;
}

@-webkit-keyframes jump {
  0% {
    opacity: .4;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 50%;
    bottom: 8%;
    -webkit-transform: translate(-50%, -8%);
            transform: translate(-50%, -8%);
  }
  25% {
    opacity: .8;
    width: 15px;
    height: 18px;
    position: absolute;
    left: 50%;
    bottom: 4%;
    -webkit-transform: translate(-50%, -4%);
            transform: translate(-50%, -4%);
  }
  45% {
    opacity: 1;
    width: 22px;
    height: 15px;
    position: absolute;
    left: 50%;
    bottom: 1%;
    -webkit-transform: translate(-50%, -1%);
            transform: translate(-50%, -1%);
  }
  50% {
    opacity: 1;
    width: 25px;
    height: 10px;
    position: absolute;
    left: 50%;
    bottom: 0%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
  55% {
    opacity: 1;
    width: 22px;
    height: 15px;
    position: absolute;
    left: 50%;
    bottom: 1%;
    -webkit-transform: translate(-50%, -1%);
            transform: translate(-50%, -1%);
  }
  75% {
    opacity: .8;
    width: 15px;
    height: 18px;
    position: absolute;
    left: 50%;
    bottom: 4%;
    -webkit-transform: translate(-50%, -4%);
            transform: translate(-50%, -4%);
  }
  100% {
    opacity: .4;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 50%;
    bottom: 8%;
    -webkit-transform: translate(-50%, -8%);
            transform: translate(-50%, -8%);
  }
}

@keyframes jump {
  0% {
    opacity: .4;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 50%;
    bottom: 8%;
    -webkit-transform: translate(-50%, -8%);
            transform: translate(-50%, -8%);
  }
  25% {
    opacity: .8;
    width: 15px;
    height: 18px;
    position: absolute;
    left: 50%;
    bottom: 4%;
    -webkit-transform: translate(-50%, -4%);
            transform: translate(-50%, -4%);
  }
  45% {
    opacity: 1;
    width: 22px;
    height: 15px;
    position: absolute;
    left: 50%;
    bottom: 1%;
    -webkit-transform: translate(-50%, -1%);
            transform: translate(-50%, -1%);
  }
  50% {
    opacity: 1;
    width: 25px;
    height: 10px;
    position: absolute;
    left: 50%;
    bottom: 0%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
  55% {
    opacity: 1;
    width: 22px;
    height: 15px;
    position: absolute;
    left: 50%;
    bottom: 1%;
    -webkit-transform: translate(-50%, -1%);
            transform: translate(-50%, -1%);
  }
  75% {
    opacity: .8;
    width: 15px;
    height: 18px;
    position: absolute;
    left: 50%;
    bottom: 4%;
    -webkit-transform: translate(-50%, -4%);
            transform: translate(-50%, -4%);
  }
  100% {
    opacity: .4;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 50%;
    bottom: 8%;
    -webkit-transform: translate(-50%, -8%);
            transform: translate(-50%, -8%);
  }
}

@media (min-width: 1101px) and (max-width: 1900px) {
  main .mainopen .second .logo img {
    position: absolute;
    left: 50%;
    top: 25%;
    -webkit-transform: translate(-50%, 35%);
            transform: translate(-50%, 35%);
  }
  main .mainopen .second .mainfont2 {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, 169%);
            transform: translate(-50%, 169%);
    -webkit-animation: open7 .5s 3.6s linear forwards;
            animation: open7 .5s 3.6s linear forwards;
  }
  @-webkit-keyframes open7 {
    100% {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, 220%);
              transform: translate(-50%, 220%);
    }
  }
  @keyframes open7 {
    100% {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, 220%);
              transform: translate(-50%, 220%);
    }
  }
  main .mainopen .first {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, 25%);
            transform: translate(-50%, 25%);
  }
}

@media All and (max-width: 1100px) {
  main {
    width: 100%;
  }
  main .mainopen {
    width: 100%;
    margin: 0 auto;
  }
  main .mainopen .second {
    width: 100%;
  }
  main .mainopen .second .mainfont2 {
    width: 100%;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-25%, 234%);
            transform: translate(-25%, 234%);
    -webkit-animation: open7 .5s 3.6s linear forwards;
            animation: open7 .5s 3.6s linear forwards;
  }
  @-webkit-keyframes open7 {
    100% {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-25%, 280%);
              transform: translate(-25%, 280%);
    }
  }
  @keyframes open7 {
    100% {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-25%, 280%);
              transform: translate(-25%, 280%);
    }
  }
  main .mainopen .first {
    width: 100%;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-25%, 50%);
            transform: translate(-25%, 50%);
  }
  main .mainopen .first .up {
    width: 54%;
    margin: 0;
  }
}
/*# sourceMappingURL=index.css.map */