@import url('common.css');

main{
    width:90%;
    margin:0 auto;
    overflow: hidden;
    z-index:0;
    .backbtn{
        transition:.8s;
        display:none;
        opacity: 0;
        position:fixed;
        span{
            position: relative;
        }
        span::after {
            content: '';
            width: 15px;
            height: 15px;
            border-top: 5px solid #434a4b; 
            border-right: 5px solid #434a4b;
            display: inline-block;
            transform: rotate(135deg);
            position: absolute;
            top: 175px; left: 470px; 
        }
        span:hover::after{
            border-color:#fff;
            z-index:100;
            position: relative;
        }
    }
    .titleprject2{        
        h1{
            label {
              margin: -15px;
              font-family: 'Anton', sans-serif;
              display: inline-block;
              opacity: 0;
            }
            padding-left:1%;
            width:100%;
            text-align: left;
            font-family: 'Anton', sans-serif;
            font-size:8.6em;            
            padding-top:2%;
            
            @keyframes labelAni{
                0%{
                    opacity: 0;
                    transform: trnaslateX(100%);
                }
                100%{
                    opacity: 1;
                    transform: trnaslateX(0%);
                }
            }
        }
    }
    .projectlist{
        width:250%;
        margin:0 auto;
        display: flex;
        justify-content: space-around;

        li{
            display: inline-block;
            padding-right: 5%;
            h5{
                width:100%;
                padding:2% 0;
                font-size:1.1em;
                text-align: right;
                color:#598488;
            }
            .logoimg{
                width:100%;
                -webkit-filter: grayscale(100%);
                filter: gray;
                img{
                    width:100%;
                }
            }
            .logoimg:hover{-webkit-filter: grayscale(0%);}
            .smalllist{
                width:100%;
                h2{
                    padding:4% 0 2% 0;
                    font-size:2em;
                    color:#598488;
                    font-weight:900;
                }
                p{
                    font-size:1.2em;
                    white-space: pre-line;
                    line-height:1.5;
                }
            }

            opacity: 0;
            transition: 0.8s;
            //animation:slideup .6s .5s forwards ease-in-out;
            @keyframes slideup {
                0%{
                    opacity: 0;
                    transform: translate(0,100%);
                }
                100%{
                    opacity: 1;
                    transform: translate(0,0);
                }
            }
        }
    }
}

.projectmain{
    display:none;
    width:100%;
    margin:0 auto;
    overflow: hidden;
    background:url('../img/background.jpg');
    position: absolute;
    left:0; top:100%;
    transition: .7s;
    
    .titleprject{
        width:90%;
        margin:0 auto;
        h1{
            label {
              margin: -15px;
              font-family: 'Anton', sans-serif;
              display: inline-block;
            }
            padding-left:1%;
            width:100%;
            text-align: left;
            font-family: 'Anton', sans-serif;
            font-size:8.6em; 
        }
    }
    
    .openpage{
        width:100%; height:100%;
        position: relative;        
        .page1{
            width:100%; height: 30vh;
            .backpage1{
                width:100%; height: 100vh;
                z-index:1;
                position: relative;
                .backimg{
                    width:100%; height:90vh;
                    background-size:100%;
                    -webkit-filter: grayscale(100%);
                    filter: gray;
                }
                .backimg:hover{-webkit-filter: grayscale(0%);}
                .stroymain{
                    width:100%;
                    padding:3% 0 2% 0;
                    background:url('../img/background.jpg');
                    .storyone{
                        width:90%;
                        margin:0 auto;
                        .projectname{
                            width:100%;
                            display:flex;
                            align-items: flex-end;
                            z-index:15;
                            h1{
                                display:inline-block;
                                font-size:3em;
                                font-weight:900;
                                color:#598488;
                            }
                            a{
                                display:inline-block;
                                text-align: left; 
                                font-size:1em;
                                padding-left:2%;
                                position: relative;
                            }
                        }
                       
                        p{
                            font-size:1.3em;
                            white-space: pre-line;
                            line-height: 1.8;
                        }
                    }
                    .storytwo{
                        width:90%;
                        margin:0 auto;
                        padding:2.5% 0;
                        h3{
                            font-size:1.8em;
                            font-weight:900;
                            padding-bottom:1%;
                        }
                        p{
                            font-size:1.3em;
                            white-space: pre-line;
                            line-height: 1.8;
                        }
                    }
                }
                .etcline{
                    width:90%;
                    margin:0 auto;
                    overflow: hidden;
                    padding:5% 0;
                    .language{
                        width:30%;
                        float: left;
                        padding-left: 5%;
                        h3{
                            font-size:1.8em;
                            font-weight:900;
                            padding-bottom:3%;
                            text-align: center;
                        }
                        .languageimg{
                            width:50%;
                            display:block;
                            margin:0 auto;
                            text-align: center;
                            img{
                                width:25%;
                                padding:5% 10%;
                            }
                        }
                    }
                    .etcright{
                        width:56%;
                        float: right;
                        .etcup{
                            width:90%;
                            overflow: hidden;
                            padding-bottom:3%;
                            .day{
                                width:50%;
                                float: left;
                                h3{
                                    font-size:1.8em;
                                    font-weight:900;
                                    padding-bottom:1%;
                                }
                                p{
                                    font-size:1.3em;
                                    white-space: pre-line;
                                    line-height: 1.8;
                                }
                            }
                            .mode{
                                width:50%;
                                float:right;
                                h3{
                                    font-size:1.8em;
                                    font-weight:900;
                                    padding-bottom:1%;
                                }
                                p{
                                    font-size:1.3em;
                                    white-space: pre-line;
                                    line-height: 1.8;
                                }
                            }
                        }
                        .etcdown{
                            width:90%;
                            overflow: hidden;
                            .web{
                                width:50%;
                                float: left;
                                h3{
                                    font-size:1.8em;
                                    font-weight:900;
                                    padding-bottom:1%;
                                }
                                p{
                                    font-size:1.3em;
                                    white-space: pre-line;
                                    line-height: 1.8;
                                }
                            }
                            .share{
                                width:50%;
                                float: right;
                                h3{
                                    font-size:1.8em;
                                    font-weight:900;
                                    padding-bottom:1%;
                                }
                                p{
                                    font-size:1.3em;
                                    white-space: pre-line;
                                    line-height: 1.8;
                                }
                            }
                        }
                        
                    }            
                }
            }
        }
        .page2{
            width:100%; 
            margin:0 auto;
            padding-top:60%;
            background:url('../img/background.jpg');

            .backpage2{
                width:100%; height: 100vh;
                .backimg{
                    width:100%; height:120vh;
                    -webkit-filter: grayscale(100%);
                    filter: gray;
                }
                .backimg:hover{-webkit-filter: grayscale(0%);}
            }
            .sitepage{
                width:90%; 
                margin:0 auto;
                padding-top:18%;
                h3{
                    font-size:1.8em;
                    font-weight:900;
                    padding-bottom:2%;
                    text-align: center;
                }
                .btn{
                    width:100%;
                    margin: 0 auto;
                    text-align: center;
                    button{
                        width:220px; height:50px;
                        border:none;
                        background: #434a4b;
                        margin:2%;
                        position: relative;
                        overflow: hidden;
                        font-size:1.1em;
                        a{
                            color:#eee;
                            z-index: 1;
                            position: relative;
                        }
                    }
                    button::before{
                        content:'';
                        position: absolute;
                        top:50%; left:50%;
                        width:150px; height:150px;
                        border-radius: 80%;
                        transform: translate3d(-50%,-50%,0) scale3d(0,0,0);
                        transition: opacity .4s cubic-bezier(.19,1,.22,1),transform .75s cubic-bezier(.19,1,.22,1);
                        background:#598488;
                        opacity: 0;                
                    }
                    button:hover::before {
                        opacity: 1;
                        transition-duration: .8s;
                        transform: translate3d(-50%,-50%,0) scale3d(1.5,1.5,1.5);
                    }
                }
            }
            
            .pagenum{
                width: 50%;
                margin:0 auto;
                padding:8% 0 3% 0;
                text-align: center;
                a{
                    color:#434a4b;
                    display:inline-block;
                    padding:2%;
                    font-size:1.3em;
                }
                .on{
                    font-weight: 900;
                    color:#598488;
                }
                a:hover{
                    position: relative;
                    color:#fff;
                    z-index:100;
                }
            }
        }
    }


}
