@import url('common.css');

main{
    width:100%;
    height: 100%;
    h1{
        font-family: 'Noto Sans JP', sans-serif;
        font-size:2em;
        background: #2e2e2e;
        background-size:100%;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-weight: bold;
        padding-top:1.2%;
        
        
        opacity: 0;
        position:relative;

        animation: show .8s .1s forwards ease-in;
        transform-origin: left;
        @keyframes show{
            0%{                
                background: #2e2e2e;
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                opacity: 0;
            }
            70%{
                background: #2e2e2e;
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;                
                opacity: 1;
            }
            100%{                
                background: #b63727;
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                opacity: 1;
            }
        }
    }

    width:90%;
    margin:0 auto;
    position: relative;
    aside{
        position: absolute;
        right:0%; top:7%;
        z-index: 50;
        opacity: 0;
        a{
            font-family: 'Teko', sans-serif;
            padding:0 5px;
            font-size:2em;            
        }
        .in{
            font-size:2.5em;
            color:#b63727;
        }
        animation: show2 .2s .8s ease-in forwards;
        
        @keyframes show2{
            0%{
                opacity: 0;
            }
            100%{
                opacity: 1;
            }
        }
    }
    .mainstory{
        width:100%;
        height: 70vh;
        position: relative;
        overflow: hidden;
        .mainimg{
            float: left;
            width:55%;
            height: 100%;
            img{                
                width:55%;
                position: absolute;
                left:0; top:2%;
                -webkit-filter: grayscale(100%);
                filter: #e2e2e2;
            }            
            img:hover{
                -webkit-filter: grayscale(0%);
                filter: none;
            }
            #gif2{opacity: 0;}

            opacity: 0;
            animation: show3 .6s ease-in forwards;
        
            @keyframes show3{
                0%{
                    opacity: 0;
                }
                100%{
                    opacity: 1;
                }
            }
        }
        .mainright{
            float: right;
            width:45%;
            .story{
                font-weight:600;
                p{
                    padding: 15% 8% 0 8%;
                    text-indent: 20px;
                    font-family: 'Nanum Gothic', sans-serif;
                    white-space: pre-line;
                    font-size:1.2em;
                    line-height: 1.6;
                }
                opacity: 0;
                transform-origin: bottom;
                animation: show4 .3s .4s ease-in forwards;
            
                @keyframes show4{
                    0%{
                        opacity: 0;
                        transform:translateY(-10%);
                    }
                    100%{
                        opacity: 1;
                        transform:translateY(0%);
                    }
                }
            }
            .page4{
                position: absolute;
                left:31%; top:68%;
                width:100%;
                margin:0 auto;
                display:block;
                text-align: center;
                button{
                    width:200px; height:50px;
                    border:none;
                    background: #2e2e2e;
                    position: relative;
                    overflow: hidden;
                    margin-right: 3%;
                    span{
                        position: relative;
                        color:#fff;
                        font-size:1.2em;
                        z-index: 5;
                    }
                }
                button::before{
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 140px;
                    height: 140px;
                    border-radius: 50%;
                    transform: translate3d(-50%,-50%,0) scale3d(0,0,0);
                    transition: opacity .4s cubic-bezier(.19,1,.22,1),transform .75s cubic-bezier(.19,1,.22,1);
                    background-color: #b63727;
                    opacity: 0;
                }
                button:hover::before {
                    opacity: 1;
                    border:1px solid#b63727;
                    transition-duration: .85s;
                    transform: translate3d(-50%,-50%,0) scale3d(2,2,2);                    
                }


                opacity: 0;
                animation: show5 .4s .6s ease-in forwards;
            
                @keyframes show5{
                    0%{
                        opacity: 0;
                    }
                    100%{
                        opacity: 1;
                    }
                }
                
            }
           
        }
    }

}
.clickpage{
    width:85%;
    margin:0 auto;
    padding-bottom:8%;
    h2{
        font-family: 'Nanum Gothic', sans-serif;
        font-size:1.5em;
        font-weight: bold;
        padding:1% 0;
    }
    p{
        text-indent:20px;
        font-family: 'Nanum Gothic', sans-serif;
        font-size:1.2em;
        line-height: 1.6;
        white-space:pre-line;
    }
    .page1{        
        padding:5% 0;
    }
    .page2a3{
        width:100%;
        padding-top:5%;
        overflow: hidden;
        .page2{
            width:35%;
            float: left;
            overflow: hidden;
            .page2-1{
                width:100%;
                display:flex;
                justify-content: space-between;
                li:nth-of-type(1){
                    width:50%;
                    float: left;}
                li:nth-of-type(2){
                    width:50%;
                    float: right;}
            }
            .page2-2{
                padding-top:8%;
                width:100%;
                display:flex;
                justify-content:space-between;
                
                li:nth-of-type(1){
                    width:50%;
                    float: left;}
                li:nth-of-type(2){
                    width:50%;
                    float: right;}
            }
        }
        .page3{
            width:50%;
            display:block;
            float:right;
            h2{padding-bottom:5%;}
            button{
                width:200px; height:50px;
                margin:3%;
                border:none;
                background: #2e2e2e;
                position: relative;
                overflow: hidden;
                span{
                    position: relative;
                    color:#fff;
                    font-size:1.2em;
                    z-index: 5;
                }
            }
            button::before{
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 140px;
                height: 140px;
                border-radius: 50%;
                transform: translate3d(-50%,-50%,0) scale3d(0,0,0);
                transition: opacity .4s cubic-bezier(.19,1,.22,1),transform .75s cubic-bezier(.19,1,.22,1);
                background-color: #b63727;
                opacity: 0;
            }
            button:hover::before {
                opacity: 1;
                border:1px solid#b63727;
                transition-duration: .85s;
                transform: translate3d(-50%,-50%,0) scale3d(2,2,2);                    
            }
        }
    }    

    display:none;
}
.open{
    opacity: 1;
}